.content {
  padding: 18px 24px;
}

.input {
  margin-bottom: 24px;
  padding: 0 24px;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.Button {
  margin: 24px 0;
}

