.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1024px;
  height: calc(100vh - var(--header-height));
  margin: 36px auto;
}
