.personalInformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  margin: 36px auto;
  padding: 33px;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
}

.editButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  right: 5px;
  bottom: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin: 0 auto;

  text-align: center;

  background: var(--color-dark-300);
  border-radius: 4px;
}

.editButton2 {
  all: unset;
  cursor: pointer;
}

.saveButton {
  margin-top: 12px;
}

.avatar {
  margin: 27px 0 0;
}

.avatarWrapper {
  position: relative;
  display: flex;
}

.name {
  padding: 10px;
}

.form input {
  margin-top: 12px;
}

.email {
  transform: translateY(-10px);
  color: var(--color-dark-100);
}

.content .link {
  color: var(--color-accent-700);
}

.icons {
  width: 18px;
  height: 18px;
}

.logout {
  margin-top: 12px;
}
