.wrapper {
  width: 420px;
  margin: 36px auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 384px;
  padding: 33px 36px 60px;
}

.password {
  width: 348px;
}

.content span {
  color: var(--color-light-900);
  opacity: 0.5;
}
